    <style>
      /* Icon when the collapsible content is shown */
      .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
      }
      /* Icon when the collapsible content is hidden */
      .btnp.collapsed:after {
        content: "\e080";
      }
       .col-centered{
        float: none;
        margin: 0 auto;
    }
    </style>
    <div ng-include="'views/header/header.html'" ></div>
    <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->
   <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="featureController">
          
 
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Customer Lead information
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                       <div class="col-sm-offset-2 col-sm-8"  >
                        <div ng-repeat="feature in mainMenu">            
                          <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12"  ng-model="all.mainmenu">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a >{{feature.mainmenu}}</a></h4>
                            </div>
                            <div class="panel-body" >
                              <table class="table table-striped" ng-if="subfeature.mainmenu==feature.mainmenu" ng-repeat="subfeature in allFeature">
                                 
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-8"><b>{{subfeature.tmsubmenu}}</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model=" selectedSubMenus[$index]" ng-true-value="{{subfeature.tmiid}}" ng-false-value="" ></td>
                                      </tr>
                                      
                                </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                        </div>
                        </div>

              
                      </div>
                   <!--    {{selectedSubMenus}} -->
                            <div class="form-group" >
                              <div class="col-sm-offset-2 col-sm-8">
                                <button type="button" class="btn btn-info btn-block"  ng-click="addFeature(subfeature.tmiid)">Submit Features{{subfeature.tmiid}}</button>
                              </div>
                           </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Dashboard Wrapper End -->
      </div>
    <!-- Main Container end -->
                    
<div ng-include="'views/footer/footer.html'"></div>
