<div ng-include="'views/header/header.html'" ></div>
 <div class="container">    
        <div class="sub-nav hidden-sm hidden-xs">
        </div>
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Reset Password
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-3 col-md-3">
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Reset Customer Password</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12">
                               <form class="form-horizontal no-margin" name="resetpassword_form" novalidate>
                                  <div class=" form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;">
                                        <label  class="col-xs-4 col-sm-4 col-md-4 control-label form-label">Mobile No.:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8">
                                          <input type="text" name="mobile" class="form-control form-text" placeholder="Customer Mobile number" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" ng-model="customerDetail.mobile" required>
                                          <span class="invalid" ng-show="!resetpassword_form.mobile.$error.minLength && !resetpassword_form.mobile.$error.maxLength && resetpassword_form.mobile.$error.pattern">Invalid Mobile No</span>
                                        </div>
                                    </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;">
                                          <label  class="col-xs-4 col-sm-4 col-md-4 control-label form-label">New Password:</label>
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                             <input type="password" name="newpassword" class="form-control form-text" placeholder="Enter Password" ng-model="customerDetail.newpassword" minlength="5" maxlength="15" required>
                                             <span class="invalid" ng-show="!resetpassword_form.newpassword.$error.required && (resetpassword_form.newpassword.$error.minlength || resetpassword_form.newpassword.$error.maxlength) && resetpassword_form.newpassword.$dirty">Passwords must be between 5 and 15 characters.</span>
                                            </div>
                                      </div> 
                                      <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;">
                                          <label  class="col-xs-4 col-sm-4 col-md-4 control-label form-label">Confirm Password:</label>
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                             <input type="password" name="confirmpassword" class="form-control form-text" placeholder="Re-enter Password" match="customerDetail.newpassword" ng-model="customerDetail.confirmpassword" required>
                                              <span class="invalid" ng-show="!resetpassword_form.confirmpassword.$error.required && resetpassword_form.confirmpassword.$error.match && resetpassword_form.confirmpassword.$dirty">Passwords do not match.</span>
                                            </div>
                                      </div> 
                                    <div class="col-xs-12 col-sm-12 col-md-12 form-group" style="margin-top: 15px;">
                                      <button class="btn-group btsaveleadn-group-xs btn-primary" style="margin-top: 15px;margin-left: 247px;width: 144px;padding: 6px;" ng-disabled="resetpassword_form.$invalid" ng-click="resetpassword(customerDetail)">Submit
                                       </button>
                                     </div>
                                  </div> 
                               </form>
                             
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>

   