<div ng-include="'views/header/header.html'" ></div>
 <div class="container">  
 <form name="form">    
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;">Select City:</span>
             <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity">
              <option ng-repeat="n in cityName" value="{{n.id}}" 
              >{{n.name}}</option>
            </select>
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;margin-left: 41px;border-radius: 5px;">
               <a ng-click="search(selectedcity)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Notification 
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                          <div class="pull-right"><form><input type="text" id="search" ng-model="search_data" placeholder="Search.."></form></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Mobile Number</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 304px;overflow-y: auto;">
                              <div class="col-lg-6 col-md-6" ng-if="gcmnotice.length>0">
                              <label>
                                <input type="checkbox" ng-model="selectedall" ng-change="selectAll(selectedall)"> Select All
                              </label>
                              </div>
                              <div class="col-lg-6 col-md-6" ng-repeat="notice in gcmnotice | filter:search_data">
                              <label>
                                <input type="checkbox" ng-model="notice.Selected" checklist-value="notice.mobile"> {{notice.mobile}}
                              </label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Message</div>
                            </div>
                            <div class="mini-widget-body clearfix">
                              <textarea rows="4" ng-model="message" style="width: 100%;    height: 304px;"></textarea>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="btn-group btsaveleadn-group-xs" style="margin-top: 15px;margin-left: 143px;">
                        <a ng-click="sendnotice(message)" class="btn btn-primary" style="width: 151px;">Send Notification</a>
                       </div>
                     </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Dashboard Wrapper End -->
</form>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>

   