      <div class="container">
        <!-- Row Start -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-md-offset-4">
            <div class="sign-in-container">
              <form  class="login-wrapper" method="post" >
                <div class="header">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <h3>Recover Password<img src="img/logo.png" alt="Logo" class="pull-right" style="height: 112px;margin-top: -27px;margin-right: 42px;"></h3>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="form-group">
                    <label for="userName">Enter Your Mobile Number</label>
                    <input type="text" class="form-control" id="userName" placeholder="Mobile Number" ng-model="mobile">
                  </div>
                </div>
                <div class="actions">
                  <input class="btn btn-danger" ng-disabled="form.$invalid" name="Recover it" type="button" ng-click="recoverPasswordonMobile(mobile)" value="Recover it">
                  <div class="clearfix"></div><span id="result"></span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Row End -->
        
      </div>
