<div ng-include="'views/header/header.html'" ></div>
 <div class="container">  
 <form name="form">    
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;">Select City:</span>
             <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity" ng-change="change(selectedcity)">
              <option ng-repeat="n in cityName" value="{{n.name}}" 
              >{{n.name}}</option>
            </select>
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Select Delivery Boy:</span>
            <select ng-options="item as item.name for item in delboydetls track by item.id" ng-model="selecteddelboydetls"  style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;"></select>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Order Details
                    </div>
                    
                  </div>
                  <div class="widget-body">
                  <div class="table-responsive" style="max-height: 358px;overflow-y: scroll;">

                    <table class="table table-hover footable table-responsive table-striped table-bordered table-hover no-margin" data-page-size="5" data-filter="#filter" data-filter-text-only="true">
                      <thead>
                        <tr class="info">
                          <th style="width:5%">
                           &nbsp;
                          </th>
                          <th style="width:5%">
                           Sr.no
                          </th>
                          <th style="width:10%">
                           Customer Name
                          </th>
                          <th style="width:25%">
                           Address
                          </th>
                          <th style="width:25%">
                          Delivery Time
                          </th>
                          <th style="width:20%">
                           Total
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  ng-repeat="pendingorder in pendingOrders" >
                          <td>
                          <input type="checkbox" ng-model="pendingorder.isChecked"/>
                          </td>
                          <td>
                            <span class="name" ng-bind="$index +1" ></span>
                          </td>
                          <td>
                          <span ng-bind="showName(pendingorder.customer_details)"></span>
                          </td>
                          <td>
                            <span ng-bind="showMobile(pendingorder.customer_details)"></span>
                          </td>
                          <td>
                          <span ng-bind="pendingorder.delivery_time"></span>
                          </td>
                          <td>
                           <span ng-bind="pendingorder.total"></span>
                          </td> 

                        </tr>
                      </tbody>
                    </table>
                    </div>

                  </div>
                    <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 13px;">
                      <a ng-click="savedelboydata()" ng-disabled="form.$invalid" class="btn btn-primary" style="width: 151px;">Save</a>
                     </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
        </form>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>
<script type="text/javascript">

    $(document).ready(function() {
        $('.footable').footable();
    });

</script>

   