<div ng-include="'views/header/header.html'" ></div>
 <div class="container">  
 <form name="form">    
        <div class="sub-nav hidden-sm hidden-xs">
        </div>
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add New State
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                          <div class="pull-right"><form><input type="text" id="search" ng-model="search_state" placeholder="Search.."></form></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Available State</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 75px;overflow-y: auto;">
                              <div class="col-lg-6 col-md-6" ng-repeat="s in stateData | filter:search_state" style="padding: 5px 0px;">
                              <label><span class="name" ng-bind="$index +1"></span>.</label>
                              <label><span class="name" ng-bind="s.name"></span></label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Add New State</div>
                            </div>
                            <div class="mini-widget-body clearfix">
                            <form name="addstate">
                              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;height: 67px;overflow-y: auto;">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="text" class="form-control" placeholder="Enter New State" ng-model="newstate" required>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                  <button class="btn-group btsaveleadn-group-xs btn-primary" style="width: 167px;padding: 5px;font-size: 16px;" ng-disabled="addstate.$invalid" ng-click="addState(newstate)">Add New State
                                  </button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add New Master City
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                          <div class="pull-right"><form><input type="text" id="search" ng-model="search_master_city" placeholder="Search.."></form></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Available Master City</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 75px;overflow-y: auto;">
                              <div class="col-lg-6 col-md-6" ng-repeat="m in masterCityData | filter:search_master_city" style="padding: 5px 0px;">
                              <label><span class="name" ng-bind="$index +1"></span>.</label>
                              <label><span class="name" ng-bind="m.name"></span></label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Add New Master City</div>
                            </div>
                            <div class="mini-widget-body clearfix">
                            <form name="addmastercity">
                              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;height: 67px;overflow-y: auto;">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                <select style="width: 162px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedState" ng-options="s.id as s.name for s in stateData track by s.id" ng-value="s.id">
                                </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter New Master City" ng-model="newmastercity" required>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <button class="btn-group btsaveleadn-group-xs btn-primary" style="width: 167px;padding: 5px;font-size: 16px;" ng-disabled="addmastercity.$invalid" ng-click="addMasterCity(selectedState,newmastercity)">Add Master City
                                  </button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add New City
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                          <div class="pull-right"><form><input type="text" id="search" ng-model="search_city" placeholder="Search.."></form></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Available City</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 75px;overflow-y: auto;">
                              <div class="col-lg-6 col-md-6" ng-repeat="c in cityName | filter:search_city" style="padding: 5px 0px;">
                              <label><span class="name" ng-bind="$index +1"></span>.</label>
                              <label><span class="name" ng-bind="c.name"></span></label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Add New City</div>
                            </div>
                            <div class="mini-widget-body clearfix">
                            <form name="addcity">
                              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;height: 67px;overflow-y: auto;">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                <select style="width: 162px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedMasterCity" ng-options="m.id as m.name for m in masterCityData track by m.id" ng-value="m.id">
                                </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter New City" ng-model="newcity" required>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <button class="btn-group btsaveleadn-group-xs btn-primary" style="width: 167px;padding: 5px;font-size: 16px;" ng-disabled="addcity.$invalid" ng-click="addCity(selectedMasterCity,newcity)">Add City
                                  </button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add New Area
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                          <div class="pull-right"><form><input type="text" id="search" ng-model="search_area" placeholder="Search.."></form></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Available Area</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 205px;overflow-y: auto;">
                              <div class="col-lg-12 col-md-12">
                                <div class="col-lg-4 col-md-4">
                                  <label  class="control-label form-label" style="font-size: 16px;margin-top: 4px;">Select City:</label>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                  <select style="width: 195px;height: 28px;font-size: 17px;border-radius: 5px;margin-left: -81px;" ng-model="selectedci" ng-options="c.id as c.name for c in cityName" ng-value="c.id"  ng-change="citychange(selectedci)">
                                </select>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6" ng-repeat="a in areaName | filter:search_area" style="padding: 5px 0px; padding-top: 15px;font-size: 13px;">
                              <label><span class="name" ng-bind="$index +1"></span>.</label>
                              <label><span class="name" ng-bind="a.name"></span></label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Add New Area</div>
                            </div>
                            <div class="mini-widget-body clearfix">
                            <form name="addarea">
                              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;height: 197px;overflow-y: auto;">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                <select style="width: 162px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedCity" ng-options="c.id as c.name for c in cityName track by c.id"  ng-value="c.id">
                                </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter New Area" ng-model="newarea" required>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <button class="btn-group btsaveleadn-group-xs btn-primary" style="width: 167px;padding: 5px;font-size: 16px;" ng-disabled="addarea.$invalid" ng-click="addArea(selectedCity,newarea)">Add Area
                                  </button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Dashboard Wrapper End -->
</form>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>

   